div.home-page {
    position: relative;
    width: 100%;
    min-height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}   